{% extends './base.html' %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 350px;">
        <h3 class="text-center mb-3">Login</h3>
        <form method="post">
            {% csrf_token %}
            {% if error %}<p class="text-danger text-center">{{ error }}</p>{% endif %}
            <div class="mb-3">
                <input type="text" name="username" class="form-control" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        <div class="text-center mt-3">
            <a href="" class="text-decoration-none">Forgot Password?</a>
        </div>
        <div class="text-center mt-2">
            <span>Don't have an account?</span> <a href="{% url 'user_register' %}" class="text-decoration-none">Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}